@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}

.PantallaPrincipal
 {
  display: flex; 
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.user_info {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.user_detail {
  display: flex;
  align-items: left;
}
.user_detail h4 {
  margin-left: 10px;
}

.message_form {
  position: absolute;
  top: 400px;
  left: 10px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.message_form input {
  width: 18vw;
  margin: 0px 10px 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
.message_form .btn {
  margin-top: -10px;
}



